/* UI Patches */
#inputBox input {
    color: white !important;
    border: none !important;
    font-size: 13px !important;
    width: 210px !important;
    z-index: 9 !important;
    font-family: monospace !important;
    background: #000 !important;
    border: 2px solid #fff !important;
    padding: 10px !important;
    font-size: 16px !important;
    border-radius: 0px !important;
    text-align: center !important;
    touch-action: manipulation !important;
    position: absolute !important;
    top: 420px !important;
    left: 315px !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}