/* UI Patches */
#inputBox input {
    color: white !important;
    border: none !important;
    font-size: 13px !important;
    width: 210px !important;
    z-index: 9 !important;
    font-family: monospace !important;
    background: #000 !important;
    border: 2px solid #fff !important;
    padding: 10px !important;
    font-size: 16px !important;
    border-radius: 0px !important;
    text-align: center !important;
    touch-action: manipulation !important;
    position: absolute !important;
    top: 420px !important;
    left: 315px !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Touch Controls */
.button {
    font-family: monospace;
    background: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    touch-action: manipulation;
}
#mobile-controls {
    height: 285px;
    width: 570px;
    position: absolute;
    border: 2px solid #fff;
    top: 637px;
    padding: 10px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: visible;
    justify-content: space-between;
}
#merchant-controls, #gambler-controls, #inventory-controls, #levelup-controls {
    height: 285px;
    width: 570px;
    position: absolute;
    border: 2px solid #fff;
    top: -2px;
    left: -2px;
    padding: 10px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: visible;
    justify-content: space-between;
}     